.img-container {
  position: relative;
  text-align: center;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Elemen Selamat Datang */
.welcomeText {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  background:transparent;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.welcomeTitle {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.welcomeSubtitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.searchInput {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.searchButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.searchButton:hover {
  background-color: #1769aa;
  transform: scale(1.1);
}

/* Bagian Fitur */
.featuresSection {
  background: linear-gradient(135deg, #f9f9f9, #e3f2fd);
  padding: 40px 20px;
  border-radius: 15px;
  margin: 30px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.featuresTitle {
  font-size: 28px;
  text-align: center;
  color: #333;
  margin-bottom: 40px;
  font-weight: bold;
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.featureCard {
  background: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.featureCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.featureImage {
  width: 100px; /* Ukuran gambar */
  height: 100px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 50%; /* Membuat gambar melingkar */
}

.featureCard h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.featureCard p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}