.latihan-container {
  font-family: Arial, sans-serif;
  padding: 10px;
  background-color: #f5f5f5; /* Latar belakang halaman */
  max-width: 800px; /* Menentukan lebar maksimal untuk konten */
  margin: 0 auto; /* Untuk menengahkan konten */
}

.title {
  text-align: center;
  font-size: 18px; /* Ukuran font lebih kecil */
  margin-bottom: 15px;
  color: #8b4513; /* Warna coklat muda */
}

.bab-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin-bottom: 15px;
}

.bab-button {
  padding: 6px 12px; /* Lebih kecil padding */
  border: 1px solid #d2b48c; /* Border yang lebih tipis */
  border-radius: 3px; /* Border radius lebih kecil */
  background-color: #d2b48c; /* Coklat muda */
  color: white;
  cursor: pointer;
  font-size: 12px; /* Ukuran font lebih kecil */
  transition: 0.3s;
}

.bab-button.active {
  background-color: #8b4513; /* Coklat lebih gelap untuk aktif */
}

.soal-container {
  text-align: left;
}

.soal-item {
  margin-bottom: 15px; /* Lebih kecil margin */
}

.jawaban-item {
  margin: 3px 0;
  padding: 8px 15px; /* Lebih kecil padding */
  border-radius: 3px; /* Border radius lebih kecil */
  background-color: #f5deb3; /* Coklat muda */
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px; /* Ukuran font lebih kecil */
}

.jawaban-item:hover {
  background-color: #d2b48c; /* Coklat lebih gelap saat hover */
}

.jawaban-item.selected {
  background-color: #deb887; /* Warna lebih gelap ketika dipilih */
}

.score-container {
  margin-top: 15px;
  text-align: center;
}

.submit-button,
.reset-button {
  padding: 8px 15px; /* Lebih kecil padding */
  background-color: #8b4513; /* Coklat */
  color: white;
  border: 1px solid #8b4513; /* Border tipis */
  border-radius: 3px; /* Border radius lebih kecil */
  cursor: pointer;
  font-size: 12px; /* Ukuran font lebih kecil */
  transition: 0.3s;
}

.submit-button:hover,
.reset-button:hover {
  background-color: #a0522d; /* Warna lebih gelap saat hover */
}

.select-prompt {
  text-align: center;
  font-size: 14px; /* Ukuran font sedikit lebih kecil */
  color: #8b4513; /* Coklat muda */
}
